<div class="row">
	<div class="col-md-12" ng-show="sqlConfigs && sqlConfigs.length > 0">

		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="btn btn-lg btn-success" href="#/edit-customer/0"><i
					class="glyphicon glyphicon-plus"></i>&nbsp;Add new Customer</a>
			</div>
		</nav>
		<table class="table table-striped table-bordered">
			<thead>
				<th>ID&nbsp;</th>
				<th>標題&nbsp;</th>
				<th>說明&nbsp;</th>
				<th>連結&nbsp;</th>
			</thead>
			<tbody>
				<tr ng-repeat="data in sqlConfigs">
					<td>{{data.id}}</td>
					<td>{{data.titleName}}</td>
					<td>{{data.comment}}</td>
					<td><a href="#/execute/{{data.id}}"
						class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp;
							execute
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-12" ng-show="sqlConfigs && sqlConfigs.length == 0">
		<div class="col-md-12">
			<h4>No sqlConfigs found</h4>
		</div>
	</div>
</div>